<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>373439474186-6k3b570g2rcvpemp4posqac0redon30m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373439474186-6k3b570g2rcvpemp4posqac0redon30m</string>
	<key>API_KEY</key>
	<string>AIzaSyBsp-lxu-zBuj55KEHt9er0--hAP94iYWw</string>
	<key>GCM_SENDER_ID</key>
	<string>373439474186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>stevenbuchko.threegoodthings</string>
	<key>PROJECT_ID</key>
	<string>feel-good-262d0</string>
	<key>STORAGE_BUCKET</key>
	<string>feel-good-262d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:373439474186:ios:688c43abea27c0a9</string>
	<key>DATABASE_URL</key>
	<string>https://feel-good-262d0.firebaseio.com</string>
</dict>
</plist>